// Reset no longer needed if you're using Bootstrap. But add it back if you don't want to use Bootstrap.
// @import "reset";


body {
    padding-top: 40px;
    text-align: center;
}

.divider {
   position: relative;
   background-image: url('/images/rock-shirt.png');
   background-repeat: repeat;
   background-position: center;
   width: auto;
   height: auto;

}

footer {
    height: 30px;
    padding: 10px;
}

h1 {
    font-family: 'Inika', serif;
    font-size: 50px;
}

.img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 0px;
    position: relative;
}

.daily-post {
    border: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
}

.comments {
    text-align: right;
}

h3 {
    font-family: 'Inika', serif;
    font-size: 20px;
    padding-bottom: 20px;
    }

h2 {
    text-align: left;
}

p {
    text-align: left;
}

.tags {
    text-align: right;
}

.day {
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 10px;
    position: relative;
}

.day .blog-link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 80px;
    color: white;
    opacity: .8;
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.day .blog-link:hover {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 80px;
    color: white;
    opacity: 1;
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-decoration: none;
}

.day a {
    opacity: .8;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.day a:hover {
    opacity: 1;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-decoration: none;
}

.selfie {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .day {
        width: 45%;
    }

}


@media screen and (min-width: 600px) {

    .day {
        width: 20%
    }


}
